* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: darkgrey;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .navBar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  
  .nav-link {
    transition: 0.7s ease;
  }
  
  .nav-link:hover {
    color: skyblue;
  }
  
  .menu {
    display: flexbox;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: skyblue;
  }
  @media(max-width: 909px) {
    .menu {
      display: block;
    }
  }
  
  /* Editing the Menu to animate from bars to a "X" */
  .menu.active .bar:nth-child(2) {
    opacity: 0; /* opacity at 0 so the middle bar disappear */
  
  }
  
  .menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    /* Rotates top bar diagonally to the right  */
  }
  
  .menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
   /*Rotates top bar diagonally to the right*/
  }
  
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: darkgrey;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  
  .nav-item {
    margin: 16px 0;
  }
  
  .nav-menu.active {
    left: 0;
  }
  
  label.logo {
    font-size: 35px;
    font-weight: bold;
    color: skyblue;
    padding: 0 100px;
    line-height: 80px;
  }
  
  nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
  }
  /* Setting Grid to have 4 columns and rows */
  .img-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    width: 100%;
  
  }
  /* Adding a breakpoint to adjust to a phone setting */
  @media (max-width: 650px) {
    .img-container {
      grid-template-columns: auto;
    }
  }
  
  .img-div {
    border: 2px solid skyblue;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .img-div:hover {
    cursor: pointer;
  }
  
  body {
    font-family: 'Rubik Moonrocks', cursive;
    /* Adding a font & animations to the body */
    background: linear-gradient(271deg, #ebf92a, #4df20f, #0ff2e0, #b5c1c0);
    background-size: 800% 800%;
  
    -webkit-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 58%
    }
  
    50% {
      background-position: 100% 43%
    }
  
    100% {
      background-position: 0% 58%
    }
  }
  
  @keyframes AnimationName {
    0% {
      background-position: 0% 58%
    }
  
    50% {
      background-position: 100% 43%
    }
  
    100% {
      background-position: 0% 58%
    }
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    /* Adding a pointer to the cursor */
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  button {
    
    border: solid black 5px;
    border-radius: 15px;
    color: black;
    height: 100px;
    width: 100px;
    background: linear-gradient(271deg, #ebf92a, #4df20f, #0ff2e0, #b5c1c0);
    background-size: 800% 800%;
  
    -webkit-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
  }
  
  
    
  
  
  .bttn {
    text-align: center;
    color: black;
    font: bold;
    
  }